.feature-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    
    height: 255px;
    margin-top: 90px;
    margin-left: 36px;
    margin-right: 36px;
    
}
.feature-image{
    height: 255px;
}
.feature{
    position: relative;
}
.feature-text{
    position: absolute;
    top: 75px;
    left: 225px;
    font-size: 15px;
    color: rgb(81, 81, 83);
}
.read-story{
    text-decoration: underline;
    cursor: pointer;
}
.read-story:hover{
    text-decoration: none;
}
.shoe-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    height: 524px;
    margin-top: 65px;
    margin-left: 36px;
    margin-right: 36px;

}
.shoe-image-container{
    font-size: 13px;
    color: rgb(73, 72, 72);
}
.shoe-image{
    height: 480px;
}
.gift-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 24px;
    height: 460;
    margin-top: 65px;
    margin-left: 36px;
    margin-right: 36px;

}
.gift-image{
    height: 447px;
}
.gift-image-container{
    color: rgb(81, 81, 83);
}
.gift-image-text{
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.gift-image-text:hover{
    text-decoration: underline;
    transition: 0.85;
}
.address-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    height: 195px;
    margin-top: 65px;
    margin-left: 36px;
    margin-right: 36px;
    color: rgb(81, 81, 83);
}
.info div{
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer;
}
.info div:hover{
    text-decoration: underline;
}
